h1{
    text-align:center;
}

.container{
    margin-top:50px;
    background-color:whitesmoke;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.sketch_area{
    border:1px solid black;
    background-color:white;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
}

.buttons{
    height:100px;
    gap:20px;
    display:flex;
    justify-content:center;
    align-items:center;
}